.stepper-container-horizontal {
    border: 1px solid lightskyblue;
    box-shadow: 0 0 13px #333333;
    border-radius: 3px;
    // margin: 40px auto;
    padding: 30px;
    // width: 60%;

}

.stepper-container-vertical {
    border: 1px solid lightskyblue;
    box-shadow: 0 0 13px #333333;
    border-radius: 3px;
    // margin: 40px auto;
    padding: 30px;
    width: 15%;
    
}

.buttons-container {
    text-align: center;
    margin: 10px 0;
    button {
        margin: 0 2rem;
        width: 100px;
        padding: 4px;
        background-color: lightsalmon;
        border: none;
    }
}
.form-container {
    width: 70%;
    height: auto;
    margin-left: 2%;
}