.wrapper-container {
    padding: 0.5rem calc((100vw - 1600px) / 2);
    margin-top: 5rem;
}
.stepper-container-horizontal {
    border: 1px solid lightskyblue;
    box-shadow: 0 0 13px #333333;
    border-radius: 3px;
    margin: 40px auto;
    padding: 30px;
    width: 60%;

}

.stepper-container-vertical {
    border: 1px solid lightskyblue;
    box-shadow: 0 0 13px #333333;
    border-radius: 3px;
    margin: 40px auto;
    padding: 30px;
    width: 20%;
    
}

.buttons-container {
    text-align: center;
    button {
        margin: 0 2rem;
        width: 100px;
        padding: 4px;
        background-color: lightsalmon;
        border: none;
    }
}